[Unit]
Description=HTTP Daemon from Busybox
After=network.target

[Service]
# Read settings out of this file:
EnvironmentFile=/etc/web-softplc-net-config.conf

# Pass settings to busybox httpd:
ExecStart=/bin/busybox httpd -c ${DOCROOT}/httpd.conf -h ${DOCROOT} -p ${PORT}

Type=forking

[Install]
WantedBy=multi-user.target
Alias=httpd.service
